<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ErpOriginalDataMapper">

    <resultMap type="ErpOriginalData" id="ErpOriginalDataResult">
        <result property="id"    column="id"    />
        <result property="coder"    column="coder"    />
        <result property="remark"    column="remark"    />
        <result property="desc"    column="desc"    />
        <result property="suppier"    column="suppier"    />
        <result property="buyer"    column="buyer"    />
        <result property="deliverySite"    column="delivery_site"    />
        <result property="special"    column="special"    />
        <result property="transport"    column="transport"    />
        <result property="bufferDay"    column="buffer_day"    />
        <result property="raw"    column="raw"    />
        <result property="rds"    column="rds"    />
        <result property="wip"    column="wip"    />
        <result property="service"    column="service"    />
        <result property="total"    column="total"    />
        <result property="plannerCode"    column="planner_code"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="addTime"    column="add_time"    />
        <result property="addBy"    column="add_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBu"    column="update_bu"    />
    </resultMap>

    <sql id="selectErpOriginalDataVo">
        select id, coder, remark, `desc`, suppier, buyer, delivery_site, special, transport,
               buffer_day, raw, rds, wip, service, total, planner_code,
                is_delete, add_time, add_by, update_time, update_bu from erp_original_data
    </sql>

    <select id="selectErpOriginalDataList" parameterType="ErpOriginalData" resultMap="ErpOriginalDataResult">
        <include refid="selectErpOriginalDataVo"/>
        <where>
            <if test="coder != null  and coder != ''"> and coder = #{coder}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="suppier != null  and suppier != ''"> and suppier = #{suppier}</if>
            <if test="buyer != null  and buyer != ''"> and buyer = #{buyer}</if>
            <if test="deliverySite != null  and deliverySite != ''"> and delivery_site = #{deliverySite}</if>
            <if test="special != null "> and special = #{special}</if>
            <if test="transport != null "> and transport = #{transport}</if>
            <if test="bufferDay != null "> and buffer_day = #{bufferDay}</if>
            <if test="raw != null "> and raw = #{raw}</if>
            <if test="rds != null "> and rds = #{rds}</if>
            <if test="wip != null  and wip != ''"> and wip = #{wip}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="service != null "> and service = #{service}</if>
            <if test="plannerCode != null  and plannerCode != ''"> and planner_code = #{plannerCode}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="addBy != null "> and add_by = #{addBy}</if>
            <if test="updateBu != null "> and update_bu = #{updateBu}</if>
        </where>
    </select>

    <select id="selectErpOriginalDataById" parameterType="Long" resultMap="ErpOriginalDataResult">
        <include refid="selectErpOriginalDataVo"/>
        where id = #{id}
    </select>

    <select id="getListByName" parameterType="String" resultMap="ErpOriginalDataResult">
        <include refid="selectErpOriginalDataVo"/>
        where coder like '%${keyword}%'
    </select>


    <insert id="insertErpOriginalData" parameterType="ErpOriginalData" useGeneratedKeys="true" keyProperty="id">
        insert into erp_original_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coder != null">coder,</if>
            <if test="remark != null">remark,</if>
            <if test="desc != null">`desc`,</if>
            <if test="suppier != null">suppier,</if>
            <if test="buyer != null">buyer,</if>
            <if test="deliverySite != null">delivery_site,</if>
            <if test="special != null">special,</if>
            <if test="transport != null">transport,</if>
            <if test="bufferDay != null">buffer_day,</if>
            <if test="raw != null">raw,</if>
            <if test="rds != null">rds,</if>
            <if test="wip != null">wip,</if>
            <if test="service != null">service,</if>
            <if test="total != null">total,</if>
            <if test="plannerCode != null">planner_code,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="addTime != null">add_time,</if>
            <if test="addBy != null">add_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBu != null">update_bu,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coder != null">#{coder},</if>
            <if test="remark != null">#{remark},</if>
            <if test="desc != null">#{desc},</if>
            <if test="suppier != null">#{suppier},</if>
            <if test="buyer != null">#{buyer},</if>
            <if test="deliverySite != null">#{deliverySite},</if>
            <if test="special != null">#{special},</if>
            <if test="transport != null">#{transport},</if>
            <if test="bufferDay != null">#{bufferDay},</if>
            <if test="raw != null">#{raw},</if>
            <if test="rds != null">#{rds},</if>
            <if test="wip != null">#{wip},</if>
            <if test="service != null">#{service},</if>
            <if test="total != null">#{total},</if>
            <if test="plannerCode != null">#{plannerCode},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="addBy != null">#{addBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBu != null">#{updateBu},</if>
        </trim>
    </insert>

    <update id="updateErpOriginalData" parameterType="ErpOriginalData">
        update erp_original_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="coder != null">coder = #{coder},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="suppier != null">suppier = #{suppier},</if>
            <if test="buyer != null">buyer = #{buyer},</if>
            <if test="deliverySite != null">delivery_site = #{deliverySite},</if>
            <if test="special != null">special = #{special},</if>
            <if test="transport != null">transport = #{transport},</if>
            <if test="bufferDay != null">buffer_day = #{bufferDay},</if>
            <if test="raw != null">raw = #{raw},</if>
            <if test="rds != null">rds = #{rds},</if>
            <if test="wip != null">wip = #{wip},</if>
            <if test="service != null">service = #{service},</if>
            <if test="total != null">total = #{total},</if>
            <if test="plannerCode != null">planner_code = #{plannerCode},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="addBy != null">add_by = #{addBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBu != null">update_bu = #{updateBu},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErpOriginalDataById" parameterType="Long">
        delete from erp_original_data where id = #{id}
    </delete>

    <delete id="deleteErpOriginalDataByIds" parameterType="String">
        delete from erp_original_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into erp_original_data (coder, remark, `desc`, suppier, buyer, delivery_site, special,
        transport, buffer_day , raw , rds, wip , service, total, planner_code, is_delete, add_time )
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.coder}, #{item.remark}, #{item.desc},#{item.suppier}, #{item.buyer},#{item.deliverySite},
            #{item.special} , #{item.transport},  #{item.bufferDay}, #{item.raw}, #{item.rds},
            #{item.wip} , #{item.service} ,#{item.total} ,#{item.plannerCode} , 0, now())
        </foreach>
    </insert>

    <update id="updateItem"  parameterType="ErpOriginalData">
        update
        `erp_original_data`
        <set>
            `remark` = #{remark ,jdbcType=VARCHAR},
            `desc` = #{desc ,jdbcType=VARCHAR},
            `suppier` = #{suppier ,jdbcType=VARCHAR},
            `buyer` = #{buyer ,jdbcType=VARCHAR},
            `delivery_site` = #{deliverySite ,jdbcType=VARCHAR},

            `special` = #{special},
            `transport` = #{transport},
            `buffer_day` = #{bufferDay},
            `raw` = #{raw},
            `rds` = #{rds},

            `wip` = #{wip ,jdbcType=VARCHAR},
            `service` = #{service},
            `total` = #{total},
            `planner_code` = #{plannerCode},
            update_time = now()
        </set>
        where
        `coder` = #{coder}
    </update>

    <update id="updateBatch" >
        <foreach collection="list" item="item" separator=";">
            update
            `erp_original_data`
            <set>
            `remark` = #{item.remark ,jdbcType=VARCHAR},
            `desc` = #{item.desc ,jdbcType=VARCHAR},
            `suppier` = #{item.suppier ,jdbcType=VARCHAR},
            `buyer` = #{item.buyer ,jdbcType=VARCHAR},
            `delivery_site` = #{item.deliverySite ,jdbcType=VARCHAR},

            `special` = #{item.special},
            `transport` = #{item.transport},
            `buffer_day` = #{item.bufferDay},
            `raw` = #{item.raw},
            `rds` = #{item.rds},

            `wip` = #{item.wip ,jdbcType=VARCHAR},
            `service` = #{item.service},
            `total` = #{item.total},
            `planner_code` = #{item.plannerCode},
            update_time = now()
            </set>
            where
            `coder` = #{item.coder}

        </foreach>
    </update>
</mapper>